<HTMLQuestion xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2011-11-11/HTMLQuestion.xsd">
  <HTMLContent>
    <![CDATA[
      <!DOCTYPE html>
      <html>
        <head>
          <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
          <style>
            td { text-align: center; }
            tr:nth-child(even) { background-color: #f2f2f2; }
          </style>
          <script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
          <script type="text/javascript">
            var numQuestions = {{ rows|length }};
            function validate() {
              var seenSubjects = [];
              for (var i=0; i < numQuestions; i++) {
                var newSubject = document.getElementById("new_subject-" + `${i}`).value.toLowerCase();

                var emptySubject = newSubject.length == 0;
                var moreThanOneWord = newSubject.split(' ').length > 1;
                var wordRepeated = seenSubjects.includes(newSubject);

                seenSubjects.push(newSubject);

                if (emptySubject) {
                  alert('You cannot leave a new subject empty.');
                  return false;
                } else if (moreThanOneWord) {
                  alert(`Error with ${newSubject}: each new subject must be only one word.`);
                  return false;
                } else if (wordRepeated) {
                  alert(`Error with ${newSubject}: new subjects must be unique.`);
                  return false;
                }
              }
              return true;
            }
          </script>
        </head>
        <body>
          <form name='mturk_form' method='post' id='mturk_form' action='/mturk/externalSubmit' onsubmit='return validate()'>
            <input type='hidden' value='' name='assignmentId' id='assignmentId'/>
            <h1>Change the Subject from a Round of 20 Questions</h1>

            <h2>Overview</h2>
            <p>
              The following data was generated when people played games
              of 20 Questions. Please take each subject-question pair
              and change the subject to a <b>related</b> word
              that <b>changes the answer to it's opposite</b>. So, if
              the answer was true with the old subject, it should be
              false with the new subject and vice versa.
            </p>

            <h2>Steps</h2>

            <ol>
              <li>
                <b>Review</b> the subject and a question about it, given
                in the table.
              </li>
              <li>
                <b>Change the subject</b> to a <i>related</i> (if
                possible) word to make the question-subject pair have
                the <i>opposite</i> truth value.
              </li>
            </ol>

            <h2>Rules & Tips</h2>
            The new subject <b>SHOULD</b>:

            <ul>
              <li>be a <b>single word</b>.</li>
              <li>be a <b>noun or object</b>.</li>
              <li>
                be <b>related</b> to the original subject if at all
                possible. For example, "dock worker" is related to
                "shipyard" and "computer" is related to "office".
              </li>
              <li>
                <b>change the answer for the question to it's
                opposite</b>, so true should become false and false
                should become true.
              </li>
              <li><b>not</b> be repeated.</li>
            </ul>

            <h3>Examples:</h3>

            <table border="1">
              <tr>
                <th align="center">Old Subject</th>
                <th align="center">Question</th>
                <th align="center">Answer</th>
                <th align="center">New Subject</th>
                <th align="center">New Answer</th>
              </tr>
              <tr>
                <td align="center">cat</td>
                <td align="center">can it bark?</td>
                <td align="center">FALSE</td>
                <td align="center">dog</td>
                <td align="center">TRUE</td>
              </tr>
              <tr>
                <td align="center">lamp</td>
                <td align="center">is it furniture?</td>
                <td align="center">TRUE</td>
                <td align="center">lightbulb</td>
                <td align="center">FALSE</td>
              </tr>
              <tr>
                <td align="center">bat</td>
                <td align="center">Metal?</td>
                <td align="center">TRUE</td>
                <td align="center">baseball</td>
                <td align="center">FALSE</td>
              </tr>
              <tr>
                <td align="center">cat</td>
                <td align="center">Is the item living?</td>
                <td align="center">TRUE</td>
                <td align="center">litterbox</td>
                <td align="center">FALSE</td>
              </tr>
              <tr>
                <td align="center">flank</td>
                <td align="center">Sirloin?</td>
                <td align="center">FALSE</td>
                <td align="center">steak</td>
                <td align="center">TRUE</td>
              </tr>
              <tr>
                <td align="center">fan</td>
                <td align="center">does food go in it?</td>
                <td align="center">FALSE</td>
                <td align="center">fridge</td>
                <td align="center">TRUE</td>
              </tr>
            </table>
            <hr>
            <h3 align="center"><u>Change the Subject from a Round of 20 Questions</u></h3>

            <table style="width: 90%;" border="1" align="center">
              <tbody>
                <tr>
                  <th style="width: 20%; text-align: center;">
                    <strong>
                      <u>Old Subject</u>
                    </strong>
                  </th>
                  <th style="width: 20%; text-align: center;">
                    <strong>
                      <u>Question</u>
                    </strong>
                  </th>
                  <th style="width: 20%; text-align: center;">
                    <strong>
                      <u>Answer</u>
                    </strong>
                  </th>
                  <th style="width: 20%; text-align: center;">
                    <strong>
                      <u>New Subject</u>
                    </strong>
                  </th>
                  <th style="width: 20%; text-align: center;">
                    <strong>
                      <u>New Answer</u>
                    </strong>
                  </th>
                </tr>
                {% for row in rows %}
                <tr>
                  <td style="width: 20%; text-align: center;">{{ row['subject'] | e }}</td>
                  <td style="width: 20%; text-align: center;">{{ row['question'] | e }}</td>
                  <td style="width: 20%; text-align: center;">
                    {% if row['majority'] == 1 %}
                    TRUE
                    {% else %}
                    FALSE
                    {% endif %}
                  </td>
                  <td style="width: 20%; text-align: center;">
                    <input
                      id="new_subject-{{ loop.index0 }}"
                      type="text"
                      name="new_subject-{{ loop.index0 }}"
                      style="width: 90%"/>
                    <input
                      id="subject-{{ loop.index0 }}"
                      type="hidden"
                      name="subject-{{ loop.index0 }}"
                      value="{{ row['subject'] | e }}"/>
                    <input
                      id="question-{{ loop.index0 }}"
                      type="hidden"
                      name="question-{{ loop.index0 }}"
                      value="{{ row['question'] | e }}"/>
                    <input
                      id="answer-{{ loop.index0 }}"
                      type="hidden"
                      name="answer-{{ loop.index0 }}"
                      value="{{ row['answer'] | e }}"/>
                    <input
                      id="quality_labels-{{ loop.index0 }}"
                      type="hidden"
                      name="quality_labels-{{ loop.index0 }}"
                      value="{{ row['quality_labels'] | e }}"/>
                    <input
                      id="score-{{ loop.index0 }}"
                      type="hidden"
                      name="score-{{ loop.index0 }}"
                      value="{{ row['score'] | e }}"/>
                    <input
                      id="high_quality-{{ loop.index0 }}"
                      type="hidden"
                      name="high_quality-{{ loop.index0 }}"
                      value="{{ row['high_quality'] | e }}"/>
                    <input
                      id="labels-{{ loop.index0 }}"
                      type="hidden"
                      name="labels-{{ loop.index0 }}"
                      value="{{ row['labels'] | e }}"/>
                    <input
                      id="is_bad-{{ loop.index0 }}"
                      type="hidden"
                      name="is_bad-{{ loop.index0 }}"
                      value="{{ row['is_bad'] | e }}"/>
                    <input
                      id="true_votes-{{ loop.index0 }}"
                      type="hidden"
                      name="true_votes-{{ loop.index0 }}"
                      value="{{ row['true_votes'] | e }}"/>
                    <input
                      id="majority-{{ loop.index0 }}"
                      type="hidden"
                      name="majority-{{ loop.index0 }}"
                      value="{{ row['majority'] | e }}"/>
                  </td>
                  <td style="width: 20%; text-align: center;">
                    {% if row['majority'] == 1 %}
                    FALSE
                    {% else %}
                    TRUE
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <p align="center" >
              <input
                id="submitButton"
                type="submit"
                value="Submit"
                style="font-size:15pt;color:white;background-color:green;border:1px solid #336600;padding:4px" />
            </p>
          </form>
          <script language="Javascript">turkSetAssignmentID();</script>
        </body>
      </html>
    ]]>
  </HTMLContent>
  <FrameHeight>800</FrameHeight>
</HTMLQuestion>
