# blacklist everything so we can explicitly whitelist files
**

# whitelist root files
!readme.md
!requirements.txt
!manage.py

# whitelist files in the backend package
!backend

# whitelist files in the scripts package
!scripts