# dev tools
.envrc
.python-version

# secrets
*pem
*crt
*key

# editors
*~
\#*\#

# python
__pycache__
*pyc
*pyo
*egg-info

# node / npm
node_modules

# general
dist

# frontend assets
backend/static/twentyquestions/twentyquestions.bundle.js
backend/templates/twentyquestions/twentyquestions.html

# data
data/