# dev tools
.envrc
.python-version

# editors
*~
\#*\#

# python
__pycache__
*pyc
*pyo
*egg-info

# node / npm
node_modules

# general
dist

# frontend assets
crowdsense/twentyquestions/static/twentyquestions/gameroom.bundle.js
crowdsense/twentyquestions/static/twentyquestions/waitingroom.bundle.js
crowdsense/twentyquestions/templates/twentyquestions/gameroom.html
crowdsense/twentyquestions/templates/twentyquestions/waitingroom.html