{% extends "app/base.html.j2" %}


{% block styles %}
<link
  rel='stylesheet'
  href="{{ url_for('home.static', filename='home/style.css') }}">
{% endblock styles %}


{% block body %}
<div class="page-header">
  <h1>Crowdsense <small>crowdsourcing common sense</small></h1>
</div>

<p>
  Crowdsense is a server used by <a href="http://allenai.org">The
  Allen Institute for Artificial Intelligence</a> to run experiments for
  crowdsourcing common sense.
</p>
{% endblock body %}
