<HTMLQuestion xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2011-11-11/HTMLQuestion.xsd">
  <HTMLContent>
    <![CDATA[
      <!DOCTYPE html>
      <html>
        <head>
          <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
          <style>
            td { text-align: center; }
            tr:nth-child(even) { background-color: #f2f2f2; }
          </style>
          <script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
        </head>
        <body>
          <form name='mturk_form' method='post' id='mturk_form' action='/mturk/externalSubmit'>
            <input type='hidden' value='' name='assignmentId' id='assignmentId'/>
            <h1>Label Types for Questions Asked During 20 Questions</h1>
            <p>
              We've collected questions people asked while playing 20
              Questions. For each question, please check all labels
              which apply to the type of information the question asks
              about.
            </p>

            <h2>Guidelines</h2>

            <p>
              Please label each question with as many of the following as apply:
            </p>

            <table style="width: 90%;" border="1" align="center">
              <thead>
                <tr>
                  <th>label</th>
                  <th>description</th>
                  <th>examples</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>category</td>
                  <td>
                    Categories or the type of the object.
                  </td>
                  <td>
                    Is it a fruit? Is it a building? Is it a physical object?
                  </td>
                </tr>
                <tr>
                  <td>part-whole</td>
                  <td>
                    Part-whole and membership relationships or what the
                    object is made out of.
                  </td>
                  <td>
                    Is it made of wood? Does it have two legs? Do
                    they work for a hospital?
                  </td>
                </tr>
                <tr>
                  <td>purpose or capabilities</td>
                  <td>
                    Things the object can do or that the object is
                    used for.
                  </td>
                  <td>
                    Does it track your location? Is it a food source? Is
                    it for the house?
                  </td>
                </tr>
                <tr>
                  <td>location</td>
                  <td>
                    Places, times, seasons or situations where you'd
                    find the object.
                  </td>
                  <td>
                    Is it at the beach? Would you see it at a concert?
                    Does it come out at night?
                  </td>
                </tr>
                <tr>
                  <td>physical property</td>
                  <td>
                    Physical properties of the object like size, weight,
                    color, consistency, etc.
                  </td>
                  <td>
                    Is it a powder? Is it a specific color? Is it larger
                    than a car?
                  </td>
                </tr>
                <tr>
                  <td>non-physical property</td>
                  <td>
                    Non-physical properties of the object like being
                    scary, man-made, living, rare, etc.
                  </td>
                  <td>
                    Is it alive? Do people like it? Does everyone
                    have one?
                  </td>
                </tr>
                <tr>
                  <td>association</td>
                  <td>
                    Relatedness or what people might associate the
                    object with.
                  </td>
                  <td>
                    Is it related to medicine? Does it involve the weather?
                  </td>
                </tr>
              </tbody>
            </table>

            <hr>

            <h2 align="center"><u>The Questions</u></h2>

            <ul>
              {% for row in rows %}
              <li>
                <p><b>{{ row['question'] | e }}</b></p>
                <ul>
                  <li>
                    <label for="ontological-{{ loop.index0 }}">
                      <input
                        id="ontological-{{ loop.index0 }}"
                        type="checkbox"
                        name="ontological-{{ loop.index0 }}"
                        value="1"/>
                      category
                    </label>
                  </li>
                  <li>
                    <label for="meronymy-{{ loop.index0 }}">
                      <input
                        id="meronymy-{{ loop.index0 }}"
                        type="checkbox"
                        name="meronymy-{{ loop.index0 }}"
                        value="1"/>
                      part-whole
                    </label>
                  </li>
                  <li>
                    <label for="capability-{{ loop.index0 }}">
                      <input
                        id="capability-{{ loop.index0 }}"
                        type="checkbox"
                        name="capability-{{ loop.index0 }}"
                        value="1"/>
                      purpose or capabilities
                    </label>
                  </li>
                  <li>
                    <label for="location-{{ loop.index0 }}">
                      <input
                        id="location-{{ loop.index0 }}"
                        type="checkbox"
                        name="location-{{ loop.index0 }}"
                        value="1"/>
                      location
                    </label>
                  </li>
                  <li>
                    <label for="physical-{{ loop.index0 }}">
                      <input
                        id="physical-{{ loop.index0 }}"
                        type="checkbox"
                        name="physical-{{ loop.index0 }}"
                        value="1"/>
                      physical property
                    </label>
                  </li>
                  <li>
                    <label for="non-physical-{{ loop.index0 }}">
                      <input
                        id="non-physical-{{ loop.index0 }}"
                        type="checkbox"
                        name="non-physical-{{ loop.index0 }}"
                        value="1"/>
                      non-physical property
                    </label>
                  </li>
                  <li>
                    <label for="association-{{ loop.index0 }}">
                      <input
                        id="association-{{ loop.index0 }}"
                        type="checkbox"
                        name="association-{{ loop.index0 }}"
                        value="1"/>
                      association
                    </label>
                  </li>
                  <input
                    id="subject-{{ loop.index0 }}"
                    type="hidden"
                    name="subject-{{ loop.index0 }}"
                    value="{{ row['subject'] | e }}" />
                  <input
                    id="question-{{ loop.index0 }}"
                    type="hidden"
                    name="question-{{ loop.index0 }}"
                    value="{{ row['question'] | e }}" />
                  <input
                    id="answer-{{ loop.index0 }}"
                    type="hidden"
                    name="answer-{{ loop.index0 }}"
                    value="{{ row['answer'] | e }}" />
                    <input
                      id="quality_labels-{{ loop.index0 }}"
                      type="hidden"
                      name="quality_labels-{{ loop.index0 }}"
                      value="{{ row['quality_labels'] | e }}"/>
                    <input
                      id="score-{{ loop.index0 }}"
                      type="hidden"
                      name="score-{{ loop.index0 }}"
                      value="{{ row['score'] | e }}"/>
                    <input
                      id="high_quality-{{ loop.index0 }}"
                      type="hidden"
                      name="high_quality-{{ loop.index0 }}"
                      value="{{ row['high_quality'] | e }}"/>
                </ul>
              </li>
              {% endfor %}
            </ul>

            <p align="center" >
              <input
                id='submitButton'
                type='submit'
                value='Submit'
                style="font-size:15pt;color:white;background-color:green;border:1px solid #336600;padding:4px" />
            </p>
          </form>
          <script language='Javascript'>turkSetAssignmentID();</script>
        </body>
      </html>
    ]]>
  </HTMLContent>
  <FrameHeight>800</FrameHeight>
</HTMLQuestion>
